@charset "utf-8";
*{	font-family:Arial, Helvetica, sans-serif;
   padding:0px;
   margin:0;
   list-style: none;
}

/* Header */

#header {
    background:url(../images/site/bg-header.png) repeat-x;
    height: 185px;
    margin:0;}
#logo{
    width:160px;
    height:120px;
    position:relative;
    top:15px;
    left:200px;}


/*menu*/


#menu{
    height:50px;
    background:#014109;
    margin-top:15px;
    z-index: 98;

}
#menu ul{
    width:1000px;
    height:50px;
    line-height: 12px;
    margin:0 auto;
    list-style:none
}

#menu ul ul{
    position: absolute;
}
#menu ul li{
    height:11px;
    float:left;
    padding:20px 0;
    position: relative;
}
#menu ul li:hover{
    background:#5f9366;
}

#menu ul li:hover ul{
    display:block;
}
#menu ul li:hover ul li{
    background: #014109;
}
#menu ul li a{
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    margin:0 20px;
}


#menu ul li ul{
    display: none;
    background: #014109;
    top: 50px;
    left: 0px;
    width: 150px;
    height: auto;
    box-shadow: 0px 0px 2px 2px gray;
}
#menu ul li ul li:hover{
    background: #5f9366;
}

#menu ul li ul li{
    height: auto;
    line-height: 20px;
    padding: 5px 10px;
    width: 130px;
    border-bottom: solid 1px gray;
}
#menu ul li ul li a{
    margin: 0px;
}

/* an het */
#menu ul li ul li ul{
    display: none;
}
#menu ul li:hover ul li ul{
    display: none !important;
}


#menu ul li ul li ul{
    top: 0px;
    left: 150px;
}

/* cap 3 */
#menu ul li ul li:hover ul {
    display: block !important;
}
#menu ul li ul li:hover ul li ul{
    display: none !important;
}

.selected a{
    color: yellow !important;
}

/* Main */
#container{
    width:1000px;
    padding:20px auto;
    background: url('../images/site/background.png');
}
#container p{
    margin:20px;
    font-size:16px;
    clear:both
}
#container p b{color:#014109}
#form{margin:0 auto}
#form #contact-table input{
    border: 0px !important;
}
#form tr td{
    text-align:left;
    font-weight:200}
#form tr td input{
    border:solid 1px;
}

/*them moi*/

#product-container{
    width: 960px;
    padding: 20px 20px 0px 20px;

}
#product-container ul{
    width: 930px;
    margin: 0px auto;
}
#product-container ul li{
    width:150px;
    height:215px;
    float:left;
    padding:0px 20px 0px 20px;
    margin: 0px;
}

#product-container ul li img{
    box-shadow: 3px 3px 3px 3px gray;
    -moz-box-shadow: 3px 3px 3px 3px gray;
    -webkit-box-shadow: 3px 3px 3px 3px gray;
}
#product-container ul li.space{
    width: 0px !important;
    padding: 21.5px !important;
    margin: 0px !important;
    height:57px !important;
}

.name-pro{
    height: 45px;
    overflow: hidden;
    width: 160px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    overflow: hidden;
    font-size: 0.7em;
}



.name-pro a, .name-pro strong{
    font-weight: bold;
    color: gray;
    text-decoration: none;
}
/**/
table tr td{text-align:center}
#order{width:180px;
       height:31px;
       line-height: 20px;
       background:url(../images/site/order.png) no-repeat;
       padding-top:15px;
       text-align:center
}
#order input{text-decoration:none;
             margin-top:  -2px;
             color:#fff;
             cursor: pointer;
             background: none;
             font-weight:bold}
#order input:hover{text-decoration:none;
                   color:#f00;
                   font-weight:bold}
#text h3{color:#014109;
         margin:15px 10px}
#text p b{color:#000}
#list{
    border:solid 1px;}
#list tr td{
    text-align:left}
#order_box{
    float:right;
    width:400px;
    margin:20px;
}
.button{
    background:url(../images/site/order.png) no-repeat;
    height:15px;
    width:150px;
    float:right;
    text-align:center;
    padding:15px;
    margin:0 10px
}
.button a{text-decoration:none;
          color:#fff;font-weight:bold;
}
.button a:hover{text-decoration:none;
                color:#f00;font-weight:bold;
}

/*  Footer */
.clear{clear:both}
#footer-wrapper{
    height:130px;
    background:#014109;
}
#footer{
    height:80px;
    background:#12701d;
    text-align: center;
}

#linkbox{
    height:80px;
    width:1000px;
    margin:0 auto;
}
.box{
    background:url(../images/site/decor.png) no-repeat;
    margin:10px 60px;
    width:200px;
    height:45px;
    float:left;
    padding-top:20px;}
.box a{
    text-decoration:none;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:19px;
    font-weight:bold;
    margin:0 10px;
    color:#014109;}
.box a img{	margin:0 10px;}

#copyright{
    width:1000px;
    margin:0 auto;}
#copyright p{
    width:230px;
    color:#fff;
    text-align:center;
    font-size:12px;
    margin:0 45px;
    float:left;}

.button-s{
    border: none !important;
    padding: 3px 10px 3px 10px;
    background: gray;
    color: white;
}

.paging a{
    padding: 5px 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    background: gray;
    margin: 0px 2px;
    line-height: 25px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

}

.next-prev-active{
    padding: 4.5px 10px;
    font-size: 0.9em;
    color: white;
    background: #D7D7D7;
    border-radius: 5px 5px 5px 5px;
}

.paging a:hover{
    color: yellow;
}

.paging a.page-active{
    color: yellow;
}


#language-wrapper{
    float:right;
    width: 300px;
    margin: 20px 0px 0px 0px;
}
#language-wrapper input{
    cursor: pointer;
    display: inline;
    background: red;
    width: 20px;

    height: 15px;
}
#language-wrapper a.en{
    background:url(../images/site/en.jpg) no-repeat top left;
    padding: 2px 12px;
    text-decoration: none;
}
#language-wrapper a.vi{
    padding: 2px 12px;
    text-decoration: none;
    background:url(../images/site/vi.jpg) no-repeat top left;
}
#language-wrapper form{
    width: 20px;
    display: inline;
}

.but-language-vi{

    background:url(../images/site/vi.jpg) no-repeat top left;
}

.online-counter{
    margin-top: 4px;
}

.contact-wrapper{
    margin: 0px auto;
    padding: 20px;
    width: 770px;
}
.contact-wrapper h1{
    background: gray;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}
.contact-main{
    border: solid 1px gray;
}
.contact-main span{
    padding: 0px 0px 0px 20px;
}
.contact-main select{
    width: 150px;
    padding: 3px;

}
.contact-main input{
    padding: 3px;
}

.ul-main{
    padding:  20px;
}


input{
    margin: 3px;
}
.orderbutton{
    margin-top: 10px;
    text-align: right;
}
.orderbutton input{
    background: gray;
    border: solid 1px gray;
    padding: 5px 20px;
    cursor: pointer;
    color: white;
    -moz-border-radius: 5px 5px 5px 5px;

    text-transform: uppercase;
    font-weight: bold;
}
.ul-right{
    width: 500px;
    margin: 0px auto;
}
.ul-right li{
    text-align: right;
    width: 400px;
    padding: 3px 0px;
}
.message textarea{
    width: 400px;
    height: 100px;
    padding: 10px;
}
.h-top{
    padding-left: 148px;
}

#list td {
    border: solid 1px gray;
    padding: 5px 10px;
}

#list td.title{
    height: 30px;
    color: white;
    font-weight: bold;    
    background: gray;
}
img{
    border: none;
}
.updae_input{
    padding: 5px;
    width: 50px;
}
#language-wrapper input{
    border: none;
}
.del-gio{
    text-decoration: none;
    color:#0000FF;
    font-weight: bold;
}
.wrapper-popup:hover .p-popup{
    display: table-cell !important;
    width: 140px; height: 30px;
    vertical-align: middle !important;
    text-align: center;
}


.wrapper-popup img{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.wrapper-popup{
    position: relative;
    text-align: center;
    width: 160px;
    height: 150px;
    vertical-align: bottom;
}

.wrapper-popup .p-popup a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.wrapper-popup .p-popup{
    position: absolute;
    padding: 5px 5px;
    top: 110px;
    left: 0px;
    background: gray;
    font-size: 0.6em;
    opacity: 0.8;
    width: 140px;
    height: 30px;
    color: white;
    display: none;
    filter:alpha(opacity=80);
    display: none;
    vertical-align: middle;
    text-align: center;
}
range-image-wrapper{
    background: red;
    height: 150px;
    border : solid 1px;
}

#searchbox{
    float:right;
    position: relative;
    margin: 90px 20px 0px 0px;
    width: 350px;
    height: 30px;
    color: gray;
    z-index: 999999;
    text-align: right;
}
.name-search{
    margin: 0px;
    height: 20px;
}
.button-search{
    margin: 0px;
}
#advance{
    margin: 3px 0px 0px 0px;
    padding: 3px 20px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: white;
    background: gray;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.search-popup input{
    width: 100px;
    padding: 2px 5px;
    border: solid 1px gray; 
}
.search-popup select{
    width: 100px;
    border: solid 1px gray; 
}
.search-popup{
    padding: 0px 0px 15px 15px;
    background: white;
    box-shadow: 0px 0px 3px 3px gray;
    -moz-box-shadow: 0px 0px 3px 3px gray;
    position: absolute;
    top: 30px;
    right: 0px;
    width: 220px;
    height: 100px;

}

.close-search-pop{
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    color: white;
    cursor: pointer;
    background: #0066cc;
    float:right;
    width: 20px;
    height: 20px;
}

#text ul li h2{
    color: orangered;
    font-size: 1.0em;
}


#text ul li{
    list-style: none;
    padding: 5px
}
#text ul li strong{
    color: gray;
}
#text ul li .call-price{
    color: brown;
    font-weight: bold;  
}

.shp td a{
    text-decoration: none;
    color: black;
}
.shp td a:hover{
    text-decoration: underline;
}

.title-main{
    height: 30px; font-size: 1.0em; text-transform: uppercase;
}
















/* detail prod*/

#detail-prod{
    width: 1000px;
    margin: 0px auto;
}
#showimage{
    position: relative;
}

#slide-show-image{

    float:left;
    width: 535px;
}

#slide-show-image h2{
    height: 350px;
    width: 350px;
    margin: 0px auto;
}

/* info */
#info-show-image{
    float:right;
    width: 455px;
}
#info-show-image ul li{
    padding: 5px 0px;
}
#info-show-image h1{
    color: brown;
    font-size: 1.0em;

}
#info-show-image  strong{

}
#image-next{
    background: url('../images/site/right_btn_blue.png') no-repeat center center;
    width: 20px;
    height: 100px;
    top: 5px; right: 75px;
    position: absolute;
    cursor: pointer;
        
}
#image-prev{
    background: url('../images/site/left_btn_blue.png') no-repeat center center;
    width: 20px;
    height: 100px;
    top: 5px; left: 75px;
    position: absolute;
    cursor: pointer;
}


#wrapper-item{
    padding: 0px 0px;
    width: 330px;
    margin: 0px auto;
    
}
#items{
    height: 110px;
}

#items img{
    cursor: pointer;
    width: 100px; height: 100px;
    border: solid 5px white;
}
#items img:hover{
    border: solid 5px gray;
}
.active-slide{
    border: solid 5px gray !important;
}

#wrapper-image-slider{
    margin-top: 10px;
    height: 110px;
    width: 100%;
    position: relative;
}

.showimage-wrap{
    display: table-cell; 
    vertical-align: middle; 
    width: 350px; height: 350px;
    text-align: center;
    border: solid 1px;
}

#container-slide{
    height: 500px;
    width: 500px;
    border: solid 1px;
    padding-top: 20px;
}




.t-slide-wrapper-1{
   margin: 0px 20px 0px 0px; background: #000000; 
   width: 380px; height: 530px; float: right; 
}
.t-slide-wrapper-1 h1{
    color: white;
    font-size: 1.0em;
    text-transform: uppercase;
    height: 30px;
    padding: 5px 20px 5px 20px;
    line-height: 30px;
}

.t-slide{
    width: 360px;
    height: 360px;
    margin: 0px auto;
    background: white;
}

.wrap-tslide{
    height: 360px;
    width: 360px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background: green;
        
}

.wrapper-t-list-slide{
    width: 330px;
}
.t-list-slide{
    
    position: relative;
    height: 120px;
    width:360px;
    background: red;
    margin: 10px auto;
    background: #333534;
}
#slide-ul{
    margin-left: 25px;
}
#slide-ul li{
    height: 70px;
    width: 98px;
    float:left;
    border: solid 1px white;
}
#slide-ul li img{
    height: 70px;
    width: 90px;
}