@charset "utf-8";
*{	font-family:Arial, Helvetica, sans-serif;
   padding:0px;
   margin:0;
   list-style: none;
}

body {
    min-width: 980px;
    width: 980px;
    width: auto !important;
}

/* Header */


/* Counter */
#counter {
    width: 230px;
    text-align:center;
    font-size: 12px;
    color:  #ffffff;
    float: left;

}

.counter {
    height: 20px;
    padding: 5px;
    font-weight: bold;
    width: 230px;
    margin: 0px auto;
}

.counter li{
    float: left;
    color: #12701d;
    border: 1px solid #ced2ce;
    padding: 1px 5px;
    font-size: 14px;
    font-weight: bold;
    background:#f1f5f1 ;
}

#header {
    background:url(../images/site/bg-header.png) repeat-x;
    padding-top: 10px;
}
#logo{
    width: 160px;
    height: 120px;
    float: left;
}

#header-right {
    float: right;
    width: 200px;
    height: 120px;
    text-align: center;
}
/* Hot line */
#hot-line-wrapper {
    font-size: 14px;
    font-weight: bold;
    float: right;
    color: #fff;
    padding-top: 5px;
}

#hot-line-wrapper span {    
    color: #FDDB11;
    font-size: 18px;
}

/* End Hot line */

/* Support Online */
#support-online-wrapper{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    float: right;
    color: #fff;
    padding-top: 10px;

}

/* End Help Online */
/*menu*/


#menu{
    background:#014109 url(../images/site/menu-bg.png) top left repeat-x;
    z-index: 99;

}
#menu ul{
    width:980px;
    height:35px;
    margin:0 auto;
    list-style:none
}

#menu ul ul{
    position: absolute;
}
#menu ul li{
    height:21px;
    line-height: 21px;
    float:left;
    padding: 7px 0;
    position: relative;
    font-size: 0.95em;
}
#menu ul li:hover{
    background:#357924;
}

#menu ul li:hover ul{
    display:block;
}
#menu ul li:hover ul li{
    background: #014109;
}
#menu ul li a{
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    margin:0 26px;
}


#menu ul li ul{
    display: none;
    background: #014109;
    top: 35px;
    left: 0px;
    width: 150px;
    font-size: 9.5pt !important;
    height: auto;
    z-index: 200;
    box-shadow: 0px 0px 2px 2px gray;
}
#menu ul li ul li:hover{
    background: #5f9366;
}

#menu ul li ul li{
    height: auto;
    line-height: 20px;
    padding: 5px 10px;
    width: 130px;
    border-bottom: solid 1px gray;
}
#menu ul li ul li a{
    margin: 0px;
}

/* an het */
#menu ul li ul li ul{
    display: none;
}
#menu ul li:hover ul li ul{
    display: none !important;
}

#menu ul li ul li ul{
    top: 0px;
    left: 150px;
}

/* cap 3 */
#menu ul li ul li:hover ul {
    display: block !important;
}
#menu ul li ul li:hover ul li ul{
    display: none !important;
}

#menu ul li ul li.selected a{
    color: #fdda11 !important;
}

/* cap 4 */
#menu ul li ul li ul li:hover ul {
    display: block !important;
}
#menu ul li ul li ul li:hover ul li ul{
    display: none !important;
}

#menu ul li ul li ul li.selected a{
    color: #fdda11 !important;
}


/* cap 5 */
#menu ul li ul li ul li ul li:hover ul{
    display: block !important;
}
#menu ul li ul li ul li ul li:hover ul li ul{
    display: none !important;
}

#menu ul li ul li ul li ul li.selected a{
    color: #fdda11 !important;
}

/* Main */
#page-container {
    background: url('../images/site/bg.jpg');
/*    padding: 20px 0;*/
    border-top: 5px solid #e5b201 ;
}
#container{
    width:980px;
    min-height: 285px;
    margin: 0 auto;
}

#content-container{
    width: 718px;
    float: left;
    padding-bottom: 20px;
    min-height: 285px;
    margin: 10px 0px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e5b201;
}

/* Slide show */
#content-container .slide-show{
    width: 100%;
    display: block;
    height: 323px;
    float: left;
    border-radius: 10px;
    margin: 0px auto;
}



#sidebar-container{
    width: 245px;
    float: left;
    min-height: 304px;
    margin-left: 10px;
    background: #fff;
    margin-top: 10px;
    border-radius:10px;
    box-shadow: 3px 3px 3px 3px gray;
    -moz-box-shadow: 3px 3px 3px 3px gray;
    -webkit-box-shadow: 3px 3px 3px 3px gray;
    border: 1px solid #D1D5CD;
}
#container p{
    margin:20px;
    font-size:16px;
    clear:both
}
#container p b{color:#014109}
#form{margin:0 auto}
#form #contact-table input{
    border: 0px !important;
}
#form tr td{
    text-align:left;
    font-weight:200}
#form tr td input{
    border:solid 1px;
}

/*them moi*/

#product-container{
    width: 100%;
    margin-bottom: 20px;
}

#product-container ul{
    width: 100%;
    margin: 0px auto;
}
#product-container ul li{
    margin: 0px 9px 20px 9px;
    width: 700px;
    min-height:230px;
    float:left;
    display: block;
    border: 1px solid #c1bcbc;
    box-shadow: 3px 3px 3px 3px gray;
    -moz-box-shadow: 3px 3px 3px 3px gray;
    -webkit-box-shadow: 3px 3px 3px 3px gray;
    padding-top: 10px;
    background: #fff;
    border-radius: 10px;
    
}

#product-container ul li .img-product{
    width: 210px;
    padding: 5px 5px 5px 5px;
    height: 210px;
    float: left;text-align: center;
}

#product-container ul li img{
/*    box-shadow: 3px 3px 3px 3px gray;
    -moz-box-shadow: 3px 3px 3px 3px gray;
    -webkit-box-shadow: 3px 3px 3px 3px gray;*/
    max-height: 200px;
    max-width: 200px;
    border: 2px solid #d1d5cd;
}

.des-product{
    width: 463px;
    float: left;
    padding: 5px 10px 5px 5px;
}

.des-product .name-pro a{
    font-size: 18px;
    color: #0656e6;
    text-decoration: none;
}

.des-product .label-pro{
    font-size: 16px;
    color: #117c1b;
}

.des-product .value-pro{
    font-size: 16px;
    color: #f9130b;
}

.des-product .description-pro{
    display: block;
    margin-top: 10px;
    text-indent: 20px;
    color: #2f2e2e;
}

.des-product .description-pro p{
    margin: 0px !important;
    padding: 0px !important;
}

/**/
table tr td{text-align:center}
#order{width:180px;
       height:31px;
       line-height: 20px;
       padding-top:15px;
       text-align:center;
       margin: 0px auto;
       cursor: pointer;
}
#order input{text-decoration:none;
             margin-top:  -2px;
             color:#fff;
             cursor: pointer;
             background: none;
             font-weight:bold}
#order input:hover{text-decoration:none;
                   color:#f00;
                   font-weight:bold}
#text h3{color:#014109;
         margin:15px 10px}
#text p b{color:#000}
#list{
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    margin: 0 23px;
}
#list tr td{
    text-align: left;
}
#list tr td.del{
    text-align: center;
}
#order_box{
    width: 100%;
    float: right;
}
.button{
    height:15px;
    width:150px;
    float:right;
    text-align:right;
    padding: 20px 40px 20px 0px;
}
.button a{text-decoration:none;
          color:#333;
          font-weight:bold;
          font-size: 16px;
}
.button a:hover{text-decoration:none;
                color:#0000FF;
                font-weight:bold;
}

/*  Footer */
.clear{clear:both}
#footer-wrapper{
    height:130px;
    background:#014109;
}
#footer{
    margin: 0 auto;
    height:80px;
    background-color: #117c1b;
}

#footer-info {
    width: 980px;
    margin: 0 auto;
}

#footer-menu {
    list-style: none;
    float: right;
    margin-top: 10px;
}

#footer-menu li {
    float: left;
    margin-left: 20px;
    color: #fff;
    font-size: 12px;
}

#footer-menu li a {
    color: #fff;
}

#linkbox{
    height:80px;
    width:980px;
    margin:0 auto;
}
.box{
    width:250px;
    height:72px;
    padding-top: 5px;
    float:left;
}
#copyright{
    margin-top: 10px;
    width:350px;
    float: left;
}
#copyright p{
    color:#fff;
    font-size:12px;
    float:left;
}

.button-s{
    border: none !important;
    padding: 3px 10px 3px 10px;
    background: gray;
    color: white;
}

.paging a{
    padding: 5px 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    background: gray;
    margin: 0px 2px;
    line-height: 25px;
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

}

.next-prev-active{
    padding: 4.5px 10px;
    font-size: 0.9em;
    color: white;
    background: #D7D7D7;
    border-radius: 5px 5px 5px 5px;
}

.paging a:hover{
    color: yellow !important;
}

.paging a.page-active{
    color: yellow !important;
}
#header-container {
    width: 980px;
    margin: 0 auto;
}
#language-wrapper{
    text-align: right;
    float: right;
}
#language-wrapper input{
    cursor: pointer;
    display: inline;
    background: red;
    width: 20px;

    height: 15px;
}
.language-wrapper-unactive {
    color: #fff !important;
    font-size: 12px;
    text-decoration: none;
    margin-left: 10px;
    float: left;
    height: 30px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#language-wrapper a:hover{
    color:  #eadd11 !important;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.language-wrapper-unactive:hover{
    color:  #eadd11;
    opacity: 1.0;
    filter: alpha(opacity=100);
} 

.language-wrapper-active{
    font-size: 12px;
    text-decoration: none;
    margin-left: 10px;
    float: left;
    height: 30px;
    color:  #eadd11 !important;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#language-wrapper span {
    float: left;
    height: 20px;
    padding: 5px;
}
#language-wrapper form{
    width: 20px;
    display: inline;
}

.but-language-vi{

    background:url(../images/site/vi.jpg) no-repeat top left;
}

.online-counter{
    margin-top: 4px;
}

.contact-wrapper{
    margin: 0px auto;
    width: 100%;
}
.contact-wrapper h1{
    background: gray;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}
.contact-main{
    border: solid 1px gray;
}
.contact-main span{
    padding: 0px 0px 0px 20px;
}
.contact-main select{
    width: 150px;
    padding: 3px;

}
.contact-main input{
    padding: 3px;
}

.ul-main{
    padding:  20px;
}


input{
    margin: 3px;
}
.orderbutton{
    margin-top: 10px;
    text-align: right;
}
.orderbutton input{
    background: gray;
    border: solid 1px gray;
    padding: 5px 20px;
    cursor: pointer;
    color: white;
    -moz-border-radius: 5px 5px 5px 5px;

    text-transform: uppercase;
    font-weight: bold;
}
.ul-right{
    width: 500px;
    margin: 0px auto;
}
.ul-right li{
    text-align: right;
    width: 400px;
    padding: 3px 0px;
}
.message textarea{
    width: 400px;
    height: 100px;
    padding: 10px;
}
.h-top{
    padding-left: 148px;
}

#list td {
    border-right: solid 1px #333;
    border-bottom: solid 1px #333;
    padding: 5px 10px;
}

#list td.title{
    background-color: #117C1B;
    color: #FDDB11;
    text-align: center;
    height: 30px;
}
img{
    border: none;
}
.updae_input{
    padding: 5px;
    width: 50px;
}
#language-wrapper input{
    border: none;
}
.del-gio{
    text-decoration: none;
    color:#0000FF;
}
.wrapper-popup:hover .p-popup{
    display: table-cell !important;
    width: 140px; height: 30px;
    vertical-align: middle !important;
    text-align: center;
}

.list-image-wrapper .product-name {
    position: relative;
    height: 40px;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: #fff;
}

.wrapper-popup img{
    position: relative;
    bottom: 0px;
    left: 0px;
}

.wrapper-popup{
    text-align: center;
    width: 200px;
    height: 200px;
    vertical-align: bottom;
    display: table-cell;
}

.wrapper-popup .p-popup a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.wrapper-popup .p-popup{
    position: absolute;
    padding: 5px 5px;
    top: 110px;
    left: 0px;
    background: gray;
    font-size: 0.6em;
    opacity: 0.8;
    width: 140px;
    height: 30px;
    color: white;
    display: none;
    filter:alpha(opacity=80);
    display: none;
    vertical-align: middle;
    text-align: center;
}
range-image-wrapper{
    background: red;
    height: 150px;
    border : solid 1px;
}

#searchbox{
    float:right;
    width: 350px;
    height: 30px;
    color: gray;
    z-index: 999999;
    text-align: right;
}
.name-search{
    margin: 0px;
    height: 20px;
}
.button-search{
    margin: 0px;
}
#advance{
    margin: 3px 0px 0px 0px;
    padding: 3px 20px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: white;
    background: gray;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.search-popup input{
    width: 100px;
    padding: 2px 5px;
    border: solid 1px gray; 
}
.search-popup select{
    width: 100px;
    border: solid 1px gray; 
}
.search-popup{
    padding: 0px 0px 15px 15px;
    background: white;
    box-shadow: 0px 0px 3px 3px gray;
    -moz-box-shadow: 0px 0px 3px 3px gray;
    position: absolute;
    top: 30px;
    right: 0px;
    width: 220px;
    height: 100px;

}

.close-search-pop{
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    color: white;
    cursor: pointer;
    background: #0066cc;
    float:right;
    width: 20px;
    height: 20px;
}

#text ul li h2{
    color: orangered;
    font-size: 1.0em;
}


#text ul li{
    list-style: none;
    padding: 5px
}
#text ul li strong{
    color: gray;
}
#text ul li .call-price{
    color: brown;
    font-weight: bold;  
}

.shp td a{
    text-decoration: none;
    color: #527ff3;
}
.shp td a:hover{
    text-decoration: underline;
}

.title-main{
    font-size: 1.0em;
    height: 30px;
    line-height: 30px;
    margin: 10px 23px;
}

/* detail prod*/

#detail-prod{
    width: 100%;
    margin: 0px auto;
}

.title-prod{
    width: 100%;
}

.title-prod h1{
    color: brown;
    font-size: 1.4em;
    text-transform: uppercase;
    display: block;
    padding: 10px 20px 10px 30px;
}

#showimage{
    position: relative;
}

#slide-show-image{
    float:left;
    width: 260px;
    text-align: center;
}


#slide-show-image a img{
    max-height: 250px;
    max-width: 250px;
    margin: 5px;
    border: 1px solid #D1D5CD;
}

/* info */
#info-show-image{
    float:left;
    width: 440px;
    margin-left: 10px;
    margin-top: 5px;
}
#info-show-image ul li{
    padding: 0px;
    display: block;
}

#info-show-image  .description-pro{
    text-indent: 20px;
}

#info-show-image  .description-pro p{
    margin: 10px 0px;
}

/*.t-slide-wrapper-1{
    margin: 0px 20px 0px 0px;
    width: 260px; 
    float: right; 
    padding-bottom: 10px;
}
.t-slide-wrapper-1 h1{
    color: white;
    font-size: 1.0em;
    text-transform: uppercase;
    height: 30px;
    padding: 5px 20px 5px 20px;
    line-height: 30px;
}*/

.t-slide{
    width: 260px;
    height: 260px;
    margin: 0px auto;
}



.wrap-tslide{
    height: 360px;
    width: 360px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}

.t-list-slide{
    position: relative;
    width:100%;
    padding: 20px 0px 0px 10px;
    height: auto;
}

.t-list-slide label{
    color: #333;
    font-size: 1.0em;
}

#slide-wrap-ul{
    padding: 10px 0px 0px 0px;
    width: 99%;
    height: auto;
}

#slide-wrap-ul li:hover{
    opacity: 1.0 !important;
    filter:alpha(opacity=100) !important;
}
#slide-wrap-ul li{
    margin-left: 3px;
    height: 70px;
    width: 100px;
    float:left;
    margin: 3px;
    opacity: 0.4 !important;
    filter:alpha(opacity=40) !important;
}

#slide-wrap-ul  img{
    height: 70px;
    width: 100px;
    float: left;
    border: 1px solid #d4cfcf;
    padding: 1px;
    margin: 1px;
}

#slide-wrap-ul li.slide-ul-wrap-active{
    opacity: 1.0 !important;
    filter:alpha(opacity=100) !important;
}

#image-next{
    background: url('../images/site/right_btn_blue.png') no-repeat center center;
    width: 20px;
    height: 100px;
    top: 0px; right: 0px;
    position: absolute;
    cursor: pointer;

}
#image-prev{
    background: url('../images/site/left_btn_blue.png') no-repeat center center;
    width: 20px;
    height: 100px;
    top: 0px; left: 0px;
    position: absolute;
    cursor: pointer;
}


.message .mask{
    position:relative; 
    top:35px; 
    left:30px;
    width:350px; 
    text-align:left;
    color: #c9c4c4;
    font-size: 16px;
}

/* News */

.news{
    width: 100%;
    color: #333;
    padding: 0px;
    font-size: 14px;
}

.news a:hover{
    color: #f14119;
}


.rule{
    width: 90%;
    margin: 20px auto;
    border-top: 1px solid #ebebf4;
}

.news .news-new{
    width: 60%;
    float: left;
    border-right: 1px solid #ebebf4;
}

.news a{
    text-decoration: none;
    color: #333;
}

.news h4{
    margin-left: 15px;
}

.news .news-category{
    font-size: 18px !important;
    color: #3cc633;
    font-weight: bold;
    padding: 10px 30px;
    background: #dafcd8;
    border-radius: 10px 10px 10px 10px;
    margin:5px;
}

.news .news-new .article{
    width: 100%;
    margin-top: 10px;
}

.news .article p.title{
    font-size: 16px;
    color: #3a5be2;
    margin: 10px 20px !important;
    display: block;
    min-height: 50px;
}

.news .article  .new-img{
    height: 50px;
    width: 50px;
    float: left;
    margin: 0px 10px 0px 0px;
    border: 1px solid #e4e9e3;
    text-align: center;
}

.news .article  .new-img img{
    width: 100%;
    height: 100%;
}

.news .content-news{
    font-size: 14px !important;
    padding: 0px 20px;
    text-indent: 20px;
}

.news .article .content-news p{
    margin: 0px;
}

.news-detail {
    padding: 10px;
}

.news-detail .title-detail{
    font-size: 22px;
    padding-top: 10px;
    color:  #0000FF !important;
}

.news-detail .content-detail{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    text-indent: 20px;
}

.news-detail .content-detail{
    margin: 10px 0px;
}

.news-detail .img-detail{
    border: 1px solid #e4e9e3;
    margin: 0px 10px 0px 10px;
    height: 150px; 
    width: 150px;
    display: inherit;
    float: left;
    text-align: center;
}

.news-detail .img-detail img{
    min-height: 100%;
    max-width: 100%;
}

.date{
    font-size: 12px;
    color: #757578;
    display: block;
}

.view-more{
    float: right;
    display: block;
    margin-right: 10px;
    margin-top: 7px;
}

.view-more a{
    text-decoration: none;
    font-style: italic;
    font-size: 14px;
    color: #333 !important;
    padding: 4px 10px;
    background: #e2dc97;
    border-radius: 7px;
}

.view-more a:hover{
    color: #fff !important;
    background: #fbaf2b;
}

.news .list-new-old{
    width: 39%; 
    float: left;
    margin: 0px;
}

.news .list-new-old ul{
    width: 95%;
    padding: 10px;
}
.news .list-new-old ul li{
    background:url(../images/site/icon-ul.png) no-repeat;
    padding:0px 20px;
    background-position:5px 5px;
    margin: 5px auto;
}
.news .list-new-old ul li a{
    text-decoration: none;
    margin-left: 5px;
}
.social-link-right{
    float: right;
    position: fixed;
    top: 200px;
    right: 0px;
    font-size: 16px;
}

#social_link{
    display: block;
}

.social-link-right a{
    text-decoration: none;
    padding: 2px;
}

.contact{
    margin: 0px auto;
    width: 100%;
    margin-bottom: 30px;
    display: block;
    text-align: center;
}

.contact ul{
    padding: 10px;
    margin-left: 50px;
}

.contact ul li{
    padding: 10px;
    font-size: 18px;
    font-family: array;
    text-align: left !important;
}

.uppercase{
    text-transform: uppercase;
    font-weight: bold;
}

.website-address{
    text-decoration: none;
    color: #0000ff;
}

.website-address:hover{
    color: #ff0033;
}

/* Site map */

#sitemap a:link,a:visited {
    color: #0180AF;
    text-decoration: underline;
}
#sitemap a:hover {
    color: #666;
}
#sitemap h1 {
    background-color:#fff;
    padding:20px;
    color:#00AEEF;
    text-align:left;
    font-size:32px;
    margin:0px;
}
#sitemap h3 {
    font-size:12px;
    background-color:#B8DCE9;
    margin:0px;
    padding:10px;
}
#sitemap h3 a {
    float:right;
    font-weight:normal;
    display:block;
}
#sitemap th {
    text-align:center;
    background-color:#00AEEF;
    color:#fff;
    padding:4px;
    font-weight:normal;
    font-size:12px;
}
#sitemap td {
    font-size:12px;
    padding:3px;
    text-align:left !important;
}
#sitemap tr {background: #fff}
#sitemap tr:nth-child(odd) {background: #f0f0f0}
#sitemap  .pager,.pager a {
    background-color:#00AEEF;
    color:#fff;
    padding:3px;
}
#sitemap .lhead {
    background-color:#fff;
    padding:3px;
    font-weight:bold;
    font-size:16px;
}
#sitemap .lpart {
    background-color:#f0f0f0;
    padding:0px;
}
#sitemap .lpage {
    font:normal 12px verdana;
}
#sitemap .lcount {
    background-color:#00AEEF;
    color:#fff;
    padding:2px;
    margin:2px;
    font:bold 12px verdana;
}
#sitemap a.aemphasis {
    color:#009;
    font-weight:bold;
}

#sitemap .title-map{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: array;
    color: #0f56f7;
}

/* Sidebar*/
.box-sidebar{
    margin: 10px 0px;
    display: block;
    overflow: hidden;
}

.box-sidebar .box-sidebar-header{
    color: #fff;
    background: #609d36;
    border: 1px solid #fae606;
    padding: 3px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
}

.box-sidebar .box-sidebar-content{
    padding: 5px;
    font-size: 14px;
    color: #333;
}

.slideShowNam{
    overflow: hidden !important;
    padding: 0px !important;
    position: relative;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 3px 3px 3px 3px gray;
    -moz-box-shadow: 3px 3px 3px 3px gray;
    -webkit-box-shadow: 3px 3px 3px 3px gray;
    margin: 0px auto;
    width: 700px;
    height: 300px;
}

