@charset "utf-8";
*{	font-family:Arial, Helvetica, sans-serif;
   padding:0px;
   margin:0;
   list-style: none;
}

body {
    min-width: 980px;
    width: 980px;
    width: auto !important;
}

/* Header */



/* Counter */
#counter {
    width: 230px;
    text-align:center;
    font-size: 12px;
    color:  #ffffff;
    float: left;
    
}

.counter {
    height: 20px;
    padding: 5px;
    font-weight: bold;
    width: 230px;
    margin: 0px auto;
}
    
.counter li{
    float: left;
    color: #12701d;
    border: 1px solid #ced2ce;
    padding: 1px 5px;
    font-size: 14px;
    font-weight: bold;
    background:#f1f5f1 ;
}
    
#header {
    background:url(../images/site/bg-header.png) repeat-x;
    padding-top: 10px;
}
#logo{
    width:160px;
    height:120px;
    float: left;
}

/*menu*/


#menu{
    background:#014109 url(../images/site/menu-bg.png) top left repeat-x;
    z-index: 98;

}
#menu ul{
    width:980px;
    height:35px;
    margin:0 auto;
    list-style:none
}

#menu ul ul{
    position: absolute;
}
#menu ul li{
    height:21px;
    float:left;
    padding: 7px 0;
    position: relative;
}
#menu ul li:hover{
    background:#357924;
}

#menu ul li:hover ul{
    display:block;
}
#menu ul li:hover ul li{
    background: #014109;
}
#menu ul li a{
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    margin:0 26px;
}


#menu ul li ul{
    display: none;
    background: #014109;
    top: 50px;
    left: 0px;
    width: 150px;
    height: auto;
    box-shadow: 0px 0px 2px 2px gray;
}
#menu ul li ul li:hover{
    background: #5f9366;
}

#menu ul li ul li{
    height: auto;
    line-height: 20px;
    padding: 5px 10px;
    width: 130px;
    border-bottom: solid 1px gray;
}
#menu ul li ul li a{
    margin: 0px;
}

/* an het */
#menu ul li ul li ul{
    display: none;
}
#menu ul li:hover ul li ul{
    display: none !important;
}


#menu ul li ul li ul{
    top: 0px;
    left: 150px;
}

/* cap 3 */
#menu ul li ul li:hover ul {
    display: block !important;
}
#menu ul li ul li:hover ul li ul{
    display: none !important;
}

.selected a{
    color: #fdda11 !important;
}

/* Main */
#page-container {
    background: url('../images/site/background.png');
}
#container{
    width:980px;
    margin: 0 auto;
}
#container p{
    margin:20px;
    font-size:16px;
    clear:both
}
#container p b{color:#014109}
#form{margin:0 auto}
#form #contact-table input{
    border: 0px !important;
}
#form tr td{
    text-align:left;
    font-weight:200}
#form tr td input{
    border:solid 1px;
}

/*them moi*/

#product-container{
    width: 960px;
    padding: 20px 20px 0px 20px;

}
#product-container ul{
    width: 980px;
    margin: 0px auto;
}
#product-container ul li{
    width:200px;
    height:265px;
    float:left;
    padding:0px 15px;
    margin: 0px;
}

#product-container ul li.left {
    padding-left: 0;
    padding-right: 15px;
}

#product-container ul li.right {
    padding-left: 15px;
    padding-right: 0;
}

#product-container ul li img{
    box-shadow: 3px 3px 3px 3px gray;
    -moz-box-shadow: 3px 3px 3px 3px gray;
    -webkit-box-shadow: 3px 3px 3px 3px gray;
}
#product-container ul li.space{
    width: 0px !important;
    padding: 21.5px !important;
    margin: 0px !important;
    height:57px !important;
}

.name-pro{
    height: 45px;
    overflow: hidden;
    width: 200px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    overflow: hidden;
    font-size: 13px;
}



.name-pro a, .name-pro strong{
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
.name-pro h3 {
    font-size: 16px;
}
/**/
table tr td{text-align:center}
#order{width:180px;
       height:31px;
       line-height: 20px;
       padding-top:15px;
       text-align:center;
       margin: 0px auto;
}
#order input{text-decoration:none;
             margin-top:  -2px;
             color:#fff;
             cursor: pointer;
             background: none;
             font-weight:bold}
#order input:hover{text-decoration:none;
                   color:#f00;
                   font-weight:bold}
#text h3{color:#014109;
         margin:15px 10px}
#text p b{color:#000}
#list{
    border:solid 1px;}
#list tr td{
    text-align:left}
#order_box{
    float:right;
    width:400px;
    margin:20px;
}
.button{
    height:15px;
    width:150px;
    float:right;
    text-align:center;
    padding:15px;
    margin:0 10px
}
.button a{text-decoration:none;
          color:#fff;font-weight:bold;
}
.button a:hover{text-decoration:none;
                color:#f00;font-weight:bold;
}

/*  Footer */
.clear{clear:both}
#footer-wrapper{
    height:130px;
    background:#014109;
}
#footer{
    margin: 0 auto;
    height:80px;
    background-color: #117c1b;
    text-align: center;
}

#linkbox{
    height:80px;
    width:980px;
    margin:0 auto;
}
.box{
    width:250px;
    height:72px;
    padding-top: 5px;
    float:left;
}
#copyright{
    width:980px;
    margin:0 auto;}
#copyright p{
    width:230px;
    color:#fff;
    text-align:center;
    font-size:12px;
    margin:0 45px;
    float:left;}

.button-s{
    border: none !important;
    padding: 3px 10px 3px 10px;
    background: gray;
    color: white;
}

.paging a{
    padding: 5px 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    background: gray;
    margin: 0px 2px;
    line-height: 25px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

}

.next-prev-active{
    padding: 4.5px 10px;
    font-size: 0.9em;
    color: white;
    background: #D7D7D7;
    border-radius: 5px 5px 5px 5px;
}

.paging a:hover{
    color: yellow;
}

.paging a.page-active{
    color: yellow;
}
#header-container {
    width: 980px;
    margin: 0 auto;
}
#language-wrapper{
    float:right;
}
#language-wrapper input{
    cursor: pointer;
    display: inline;
    background: red;
    width: 20px;

    height: 15px;
}
#language-wrapper a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    margin-left: 10px;
    float: left;
    height: 30px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#language-wrapper a:hover{
    color:  #eadd11;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.language-wrapper-active{
    color:  #eadd11;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#language-wrapper span {
    float: left;
    height: 20px;
    padding: 5px;
}
#language-wrapper form{
    width: 20px;
    display: inline;
}

.but-language-vi{

    background:url(../images/site/vi.jpg) no-repeat top left;
}

.online-counter{
    margin-top: 4px;
}

.contact-wrapper{
    margin: 0px auto;
    padding: 20px;
    width: 770px;
}
.contact-wrapper h1{
    background: gray;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}
.contact-main{
    border: solid 1px gray;
}
.contact-main span{
    padding: 0px 0px 0px 20px;
}
.contact-main select{
    width: 150px;
    padding: 3px;

}
.contact-main input{
    padding: 3px;
}

.ul-main{
    padding:  20px;
}


input{
    margin: 3px;
}
.orderbutton{
    margin-top: 10px;
    text-align: right;
}
.orderbutton input{
    background: gray;
    border: solid 1px gray;
    padding: 5px 20px;
    cursor: pointer;
    color: white;
    -moz-border-radius: 5px 5px 5px 5px;

    text-transform: uppercase;
    font-weight: bold;
}
.ul-right{
    width: 500px;
    margin: 0px auto;
}
.ul-right li{
    text-align: right;
    width: 400px;
    padding: 3px 0px;
}
.message textarea{
    width: 400px;
    height: 100px;
    padding: 10px;
}
.h-top{
    padding-left: 148px;
}

#list td {
    border: solid 1px gray;
    padding: 5px 10px;
}

#list td.title{
    height: 30px;
    color: white;
    font-weight: bold;    
    background: gray;
}
img{
    border: none;
}
.updae_input{
    padding: 5px;
    width: 50px;
}
#language-wrapper input{
    border: none;
}
.del-gio{
    text-decoration: none;
    color:#0000FF;
    font-weight: bold;
}
.wrapper-popup:hover .p-popup{
    display: table-cell !important;
    width: 140px; height: 30px;
    vertical-align: middle !important;
    text-align: center;
}

.list-image-wrapper .product-name {
    position: relative;
    height: 40px;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: #fff;
}

.wrapper-popup img{
    position: relative;
    bottom: 0px;
    left: 0px;
}

.wrapper-popup{
    position: relative;
    text-align: center;
    width: 200px;
    height: 200px;
    vertical-align: bottom;
}

.wrapper-popup .p-popup a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.wrapper-popup .p-popup{
    position: absolute;
    padding: 5px 5px;
    top: 110px;
    left: 0px;
    background: gray;
    font-size: 0.6em;
    opacity: 0.8;
    width: 140px;
    height: 30px;
    color: white;
    display: none;
    filter:alpha(opacity=80);
    display: none;
    vertical-align: middle;
    text-align: center;
}
range-image-wrapper{
    background: red;
    height: 150px;
    border : solid 1px;
}

#searchbox{
    float:right;
    width: 350px;
    height: 30px;
    color: gray;
    z-index: 999999;
    text-align: right;
}
.name-search{
    margin: 0px;
    height: 20px;
}
.button-search{
    margin: 0px;
}
#advance{
    margin: 3px 0px 0px 0px;
    padding: 3px 20px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: white;
    background: gray;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.search-popup input{
    width: 100px;
    padding: 2px 5px;
    border: solid 1px gray; 
}
.search-popup select{
    width: 100px;
    border: solid 1px gray; 
}
.search-popup{
    padding: 0px 0px 15px 15px;
    background: white;
    box-shadow: 0px 0px 3px 3px gray;
    -moz-box-shadow: 0px 0px 3px 3px gray;
    position: absolute;
    top: 30px;
    right: 0px;
    width: 220px;
    height: 100px;

}

.close-search-pop{
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    color: white;
    cursor: pointer;
    background: #0066cc;
    float:right;
    width: 20px;
    height: 20px;
}

#text ul li h2{
    color: orangered;
    font-size: 1.0em;
}


#text ul li{
    list-style: none;
    padding: 5px
}
#text ul li strong{
    color: gray;
}
#text ul li .call-price{
    color: brown;
    font-weight: bold;  
}

.shp td a{
    text-decoration: none;
    color: black;
}
.shp td a:hover{
    text-decoration: underline;
}

.title-main{
    font-size: 1.0em;
    height: 30px;
    line-height: 30px;
}
















/* detail prod*/

#detail-prod{
    width: 980px;
    margin: 0px auto;
}

.title-prod{
    width: 100%;
}

.title-prod h1{
    color: brown;
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 20px 20px 0px 20px;
}

#showimage{
    position: relative;
}

#slide-show-image{
    float:left;
    width: 435px;
    margin-top: 20px;
}

#slide-show-image h2{
    height: 350px;
    width: 350px;
    margin: 0px auto;
}

/* info */
#info-show-image{
    background-color: #F5F1A9;
    float: right;
    margin-top: 20px;
    padding: 20px;
    width: 500px;
}
#info-show-image ul li{
    padding: 5px 0px;
}

#info-show-image  strong{

}

.t-slide-wrapper-1{
   margin: 0px 20px 0px 0px;
   width: 380px; float: right; 
   padding-bottom: 10px;
}
.t-slide-wrapper-1 h1{
    color: white;
    font-size: 1.0em;
    text-transform: uppercase;
    height: 30px;
    padding: 5px 20px 5px 20px;
    line-height: 30px;
}

.t-slide{
    width: 360px;
    height: 360px;
    margin: 0px auto;
}



.wrap-tslide{
    height: 360px;
    width: 360px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
        
}

.t-list-slide{
    position: relative;
    height: 100px;
    width:360px;
    margin: 40px auto 0px auto;
    
}

.t-list-slide label{
    color: #333;
    font-size: 1.0em;
}

#slide-wrap-ul{
    padding-top: 15px;
    margin-left: 21px;
    width: 340px;
}
#slide-wrap-ul li:hover{
    opacity: 1.0 !important;
    filter:alpha(opacity=100) !important;
}
#slide-wrap-ul li{
    margin-left: 3px;
    height: 70px;
    width: 100px;
    float:left;
    margin: 3px;
    opacity: 0.4 !important;
    filter:alpha(opacity=40) !important;
}

#slide-wrap-ul  img{
    height: 70px;
    width: 100px;
    float: left;
    border: 1px solid #d4cfcf;
    padding: 1px;
    margin: 2px;
}

#slide-wrap-ul li.slide-ul-wrap-active{
    opacity: 1.0 !important;
    filter:alpha(opacity=100) !important;
}

#image-next{
    background: url('../images/site/right_btn_blue.png') no-repeat center center;
    width: 20px;
    height: 100px;
    top: 0px; right: 0px;
    position: absolute;
    cursor: pointer;
        
}
#image-prev{
    background: url('../images/site/left_btn_blue.png') no-repeat center center;
    width: 20px;
    height: 100px;
    top: 0px; left: 0px;
    position: absolute;
    cursor: pointer;
}

/* shopping */

